.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.clock-container {
  text-align: center;
  padding: 20px 40px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  
  /** Ensuring the clock is centered **/
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 100px;
}
